<app-header></app-header>
<main class="main-content">
  <ul>
    <li>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png"
        alt="Ditto"
      />
      <p>Ditto</p>
    </li>
    <li>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png"
        alt="Ditto"
      />
      <p>Ditto</p>
    </li>
    <li>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png"
        alt="Ditto"
      />
      <p>Ditto</p>
    </li>
    <li>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png"
        alt="Ditto"
      />
      <p>Ditto</p>
    </li>
    <li>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png"
        alt="Ditto"
      />
      <p>Ditto</p>
    </li>
    <li>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png"
        alt="Ditto"
      />
      <p>Ditto</p>
    </li>
    <li>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png"
        alt="Ditto"
      />
      <p>Ditto</p>
    </li>
    <li>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png"
        alt="Ditto"
      />
      <p>Ditto</p>
    </li>
    <li>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png"
        alt="Ditto"
      />
      <p>Ditto</p>
    </li>
    <li>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png"
        alt="Ditto"
      />
      <p>Ditto</p>
    </li>
    <li>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png"
        alt="Ditto"
      />
      <p>Ditto</p>
    </li>
    <li>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png"
        alt="Ditto"
      />
      <p>Ditto</p>
    </li>
  </ul>
</main>
