@font-face {
  font-family: pkmn;
  src: url("assets/PKMN.ttf");
}

* {
  font-family: pkmn;
}

body {
  background-image: url("assets/pokemon-background.webp");
  background-size: 100%;
  background-repeat: no-repeat;
}

header {
  height: 150px;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

header img {
  max-height: 100%;
}

main {
  background-color: antiquewhite;
  border: 4px solid black;
  border-radius: 6px;
  width: 580px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  max-height: 70vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.pokemon-list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}

.pokemon-list li {
  padding: 0 16px 16px;
  text-align: center;
}

.pokemon-list p {
  margin: 0;
}

.pokemon-details {
  margin-bottom: 48px;
}

.pokemon-details figure {
  text-align: center;
}

.pokemon-details figcaption {
  font-size: 36px;
  font-weight: 800;
}

.pokemon-details img {
  width: 150px;
}

.pokemon-details h2 {
  font-weight: 600;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 24px;
}

.abilities {
  padding: 0;
  text-align: center;
}

.pokemon-details span + span {
  margin-left: 16px;
}

.ability-name {
  font-weight: 600;
}

.abilities li + li {
  margin-top: 16px;
}
