body {
  background-image: url("assets/pokemon-background.webp");
  background-size: 100%;
  background-repeat: no-repeat;
}

header {
  height: 150px;
  display: flex;
  justify-content: center;
}

header img {
  max-height: 100%;
}

main {
  background-color: antiquewhite;
  border: 4px solid black;
  border-radius: 6px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  max-height: 550px;
}

li {
  list-style: none;
}

.pokemon-list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}

.pokemon-list li {
  padding: 0 16px 16px;
  text-align: center;
}

.pokemon-list p {
  margin: 0;
}
